<b><%= @question_text %></b>
<form method = "post" action="/webanswer">
	<input type="hidden" name="id" value= <%=@id%>>
<% @options.length.times do |id| %>
        <input type="checkbox" name="vehicle[]" value='<%= @numbers[id] %>'> <%=@options[id]%> <br />
    <% end %>
<BR><input type="submit" value="OK"></form>